/* simplebar */
.simplebar-scrollbar {
  z-index: 22;
  pointer-events: all;
}

.simplebar-scrollbar:before,
.simplebar-scrollbar.simplebar-visible:before {
  background: var(--scrollbar-color);
  border-radius: var(--radius-lg);
  border: 1px solid var(--border-color);
  opacity: 1;
  min-height: 30px;
  min-width: 5px;
  -webkit-transition: opacity var(--transition-normal) ease, background-color var(--transition-normal) ease !important;
  transition: opacity var(--transition-normal) ease, background-color var(--transition-normal) ease !important;
}

.simplebar-scrollbar:hover:before {
  background: var(--scrollbar-color-hover) !important;
}

.simplebar-horizontal .simplebar-scrollbar:before {
  min-height: 5px;
  min-width: 30px;
  display: none;
}

.simplebar-vertical .simplebar-scrollbar:before {
  min-height: 10px;
  min-width: 5px;
  border-radius: var(--radius-sm);
  -webkit-animation: fadeInUp var(--transition-normal) ease-out;
  animation: fadeInUp var(--transition-normal) ease-out;
}

/* Switch */
.switch-label {
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 !important;
  flex: 0 !important;
  cursor: pointer;
  display: block;
}

.switch-label input {
  display: none;
}

.slider {
  display: block;
  position: relative;
  width: 34px;
  height: 20px;
  background: var(--foreground-color-500);
  border-radius: 20px;
  -webkit-transition: var(--transition-normal);
  transition: var(--transition-normal);
  padding: 0;
}

.slider:hover {
  background: var(--foreground-color-500);
}

.slider::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  left: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: var(--switch-toggle-color);
  border-radius: 50%;
  -webkit-transition: var(--transition-normal);
  transition: var(--transition-normal);
}

.switch-label input:checked + .slider {
  background: var(--accent-color);
}

.switch-label input:checked + .slider::before {
  -webkit-transform: translateX(13px) translateY(-50%);
  -ms-transform: translateX(13px) translateY(-50%);
  transform: translateX(13px) translateY(-50%);
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--accent-color-border);
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin: 40px auto;
}

svg:not(.flatpickr-calendar svg) {
  display: block;
  place-self: center;
}


.popup-message {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  color: var(--text-color-btn);
  border-radius: var(--radius-default);
  background: var(--accent-color);
  text-align: center;
  width: calc(100% - 20px);
  top: -24px;
  z-index: 22222;
  -webkit-box-shadow: 0 0 8px var(--shadow-color);
  box-shadow: 0 0 8px var(--shadow-color);
  -webkit-animation: fadeInUp var(--transition-normal) ease-out;
  animation: fadeInUp var(--transition-normal) ease-out;
  padding: 6px;
}

.popup-message.hide {
  -webkit-animation: fadeOutDown var(--transition-normal) ease-out both;
  animation: fadeOutDown var(--transition-normal) ease-out both;
}

.popup-message.warning {
  background: var(--warning-color);
}

.popup-message.alert {
  background: var(--alert-color);
}

.popup-message-indicator {
  position: relative;
  top: 7px;
  left: -7px;
  width: calc(100% + 13px);
  height: 3px;
  background: var(--text-color-muted);
  -webkit-animation: loadingBar 3s ease-in-out;
  animation: loadingBar 3s ease-in-out;
  display: none;
}

@-webkit-keyframes loadingBar {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
}

@keyframes loadingBar {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@-webkit-keyframes popIn {
  from {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes popIn {
  from {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
