body {
  font-family: "Segoe UI", sans-serif;
  font-size: 75%;
  margin: 0;
  padding: 16px;
  background-color: #1e1e1e;
  width: 325px;
  color: #e0e0e0;
}

body.setup-dialog-open {
  min-height: 360px;
}

#historyPanel,
#historyStatsPanel,
#siteList,
#historyHeader,
.history-controls,
#statsFilters,
#historyFilterMenuContent {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

body[data-section="main"] #historyPanel,
body[data-section="main"] #historyHeader,
body[data-section="main"] #historyStatsPanel,
body[data-section="main"] #statsFilters,
body[data-section="main"] .history-controls,
body[data-section="main"] #clearHistoryBtn,
body[data-section="main"] #dropdownToggle {
  display: none !important;
  opacity: 0;
}

body[data-section="main"] #siteList,
body[data-section="main"] #searchBox,
body[data-section="main"] #openSelector {
  display: block !important;
  opacity: 1;
}

body[data-section="main"] #historyStatsToggle {
  display: block !important;
}

body[data-section="main"] #openSelector {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: flex !important;
}

body[data-section="history"] #siteList,
body[data-section="history"] #searchBox,
body[data-section="history"] #openSelector,
body[data-section="history"] #historyStatsPanel,
body[data-section="history"] #statsFilters,
body[data-section="history"] #dropdownToggle,
body[data-section="history"] #historyStatsToggle {
  display: none !important;
  opacity: 0;
}

body[data-section="history"] #historyPanel,
body[data-section="history"] #historyHeader,
body[data-section="history"] .history-controls,
body[data-section="history"] #clearHistoryBtn {
  display: block !important;
  opacity: 1;
}

body[data-section="history"] #historyPanel {
  display: block !important;
}

body[data-section="history"] #historyHeader,
body[data-section="history"] #clearHistoryBtn {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: flex !important;
}

body[data-section="stats"] #historyPanel,
body[data-section="stats"] .history-controls,
body[data-section="stats"] #clearHistoryBtn,
body[data-section="stats"] #historyStatsToggle,
body[data-section="stats"] #siteList,
body[data-section="stats"] #searchBox,
body[data-section="stats"] #openSelector {
  display: none !important;
  opacity: 0;
}

body[data-section="stats"] #historyStatsPanel,
body[data-section="stats"] #statsFilters,
body[data-section="stats"] #dropdownToggle {
  display: block !important;
  opacity: 1;
}

body[data-section="stats"] #statsFilters {
  display: block !important;
}

body[data-section="stats"] #dropdownToggle {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: flex !important;
}

body[data-section="main"] #siteList,
body[data-section="history"] #historyPanel,
body[data-section="stats"] #historyStatsPanel {
  -webkit-animation: fadeInUp 0.3s ease-out;
  animation: fadeInUp 0.3s ease-out;
}

.header-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  padding: 10px;
}

#mainHeader {
  margin: 0;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

h1 {
  font-size: 18px;
  margin-bottom: 12px;
  text-align: center;
  color: #e1e1e1;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #ccc;
}

.site-list {
  padding-right: 5px;
  overflow-y: auto;
  max-height: 400px;
  position: relative;
}

.site-list-container {
  overflow: visible;
  position: relative;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.simplebar-scrollbar {
  z-index: 22;
  pointer-events: all;
}

.simplebar-scrollbar:before,
.simplebar-scrollbar.simplebar-visible:before {
  background-color: #474747;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #404040;
  opacity: 1 !important;
  min-height: 30px;
  min-width: 5px;
  -webkit-transition: background-color 0.3s ease !important;
  transition: background-color 0.3s ease !important;
}

.simplebar-scrollbar:hover:before {
  background-color: #666 !important;
}

.simplebar-horizontal .simplebar-scrollbar:before {
  min-height: 5px;
  min-width: 30px;
  display: none;
}

.simplebar-vertical .simplebar-scrollbar:before {
  min-height: 10px;
  min-width: 5px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.history-stats-artist-entry .simplebar-track.simplebar-vertical {
  background: #242424;
    border-radius: 5px;
}

html,
body,
#historyPanel,
#siteList,
#historyStatsPanel,
#historyFilterMenuContent {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#siteList {
  padding-right: 16px !important;
}

#historyPanel::-webkit-scrollbar,
#siteList::-webkit-scrollbar,
#historyStatsPanel::-webkit-scrollbar,
#historyFilterMenuContent::-webkit-scrollbar {
  display: none;
}

.parser-span,
.slider,
.history-trash,
#openSelector,
.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #2c2c2c;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.parser-span:hover,
.slider:hover,
.history-trash:hover,
#openSelector:hover {
  background-color: #3a3a3a;
}

.button {
  cursor: pointer;
}

.switch-label {
  -webkit-box-flex: 0 !important;
  -webkit-flex: 0 !important;
  flex: 0 !important;
  margin: 0 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switch-label input {
  display: none;
}

.slider {
  position: relative;
  width: 34px;
  height: 20px;
  background-color: #5e5e5e;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
}

.slider:hover {
  background-color: #5e5e5e;
}

.slider::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  left: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: white;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.switch-label input:checked + .slider {
  background-color: #00545e;
}

.switch-label input:checked + .slider::before {
  -webkit-transform: translateX(13px) translateY(-50%);
  transform: translateX(13px) translateY(-50%);
}

footer {
  margin-top: 16px;
  text-align: center;
  font-size: 12px;
  color: #777;
}

#historySearchBox,
#searchBox {
  display: block;
  position: relative;
  z-index: 5;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  max-height: 20px;
  margin-bottom: 12px;
  font-size: 14px;
  background-color: rgb(42, 42, 42);
  color: rgb(224, 224, 224);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px;
  opacity: 1;
  padding: 8px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  transition: transform 0.3s, opacity 0.3s, border-color 0.3s, background-color 0.3s, -webkit-transform 0.3s;
}

#historySearchBox {
  width: -webkit-calc(100% - 44px);
  width: calc(100% - 44px);
  padding-right: 30px;
}

#historySearchBox::-webkit-input-placeholder,
#searchBox::-webkit-input-placeholder {
  color: #888;
}

#historySearchBox::-webkit-input-placeholder,
#searchBox::-webkit-input-placeholder {
  color: #888;
}

#historySearchBox::-webkit-input-placeholder,
#historySearchBox::-moz-placeholder,
#historySearchBox:-ms-input-placeholder,
#historySearchBox::-ms-input-placeholder,
#historySearchBox::placeholder,
#searchBox::-webkit-input-placeholder,
#searchBox::-moz-placeholder,
#searchBox:-ms-input-placeholder,
#searchBox::-ms-input-placeholder,
#searchBox::placeholder {
  color: #888;
}

#historySearchBox:hover,
#searchBox:hover {
  border: 1px solid #00545e;
}

#historySearchBox:focus,
#searchBox:focus {
  outline: none;
  background-color: #333;
  border: 1px solid #00545e;
}

#openSelector {
  padding: 8px;
  margin-right: 10px;
  margin-left: 0;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #e5e5e5;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#openSelector.changed {
  font-size: 11px;
  border: 1px solid #00545e;
}

.parser-entry {
  position: relative;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #1e1e1e;
  color: #ddd;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  margin-bottom: 10px;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  overflow: hidden;
}

.parser-span {
  height: 25px;
}

.parser-entry-authors a {
  color: #62c9d5;
}

.parser-entry-authors a:hover {
  color: #6bdae6;
}

.parser-entry-authors .author-image {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 5px;
  background: #1e1e1e;
}

.author-container {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
}

.parser-entry.fading,
#searchBox.fading {
  opacity: 0.3!important;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  pointer-events: none;
}

.parser-entry:last-child {
  margin-bottom: 0;
}

.parser-title {
  cursor: pointer;
}
.parser-icon-container,
.parser-icon {
  height: 24px;
  margin-right: 6px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: height 0.4s ease;
  transition: height 0.4s ease;
  cursor: pointer;
}

.parser-icon:hover {
  height: 26px;
}

.parser-icon-container {
  margin-right: 0;
}

.author-image-container.spinner,
.parser-icon-container.spinner {
  height: 16px;
  width: 16px;
  margin: 0;
  margin-right: 6px;
}

.parser-options {
  top: -15px;
  padding: 0 16px;
  position: relative;
  z-index: -2;
  background: #2c2c2c;
  font-size: 1em;
  display: block;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.4s ease, padding-top 0.4s ease;
  transition: max-height 0.4s ease, padding-top 0.4s ease;
}

.parser-options.open {
  padding: 16px;
  background: #2c2c2c;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  z-index: -1;
  position: relative;
}

.parser-options h4 {
  margin-bottom: 5px;
}

.parser-option {
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 4px;
  padding: 8px;
}

.parser-option label {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.parser-option input {
  margin-left: 10px;
}
.date-range-picker .picker-input,
.parser-option input[type="text"],
.parser-option select {
  max-width: 110px;
  background: #5e5e5e;
  outline: 0;
  border: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  padding: 2px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
}

.parser-option .parser-custom-cover {
  margin-top: 4px;
  padding: 2px 6px;
  background: #333;
  border: 1px solid #666;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  width: -webkit-calc(100% - 15px);
  width: calc(100% - 15px);
}

.song-link,
.del-user-parser,
.redirect-user-parser,
.gear-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.song-link,
.del-user-parser {
  margin-left: auto;
}

.del-user-parser:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.song-link {
  opacity: 0;
}

.hidden {
  display: none;
}

#historyToggle,
#historyStatsToggle,
.history-filter {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  height: 16px;
  width: 16px;
}

#historyStatsToggle {
  left: 10px;
}

.date-range-picker .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.date-range-picker .picker-label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
}

.date-range-picker .picker-apply,
.date-range-picker .picker-clear {
  padding: 8px 16px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  background: #00545e;
  color: #ddd;
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.date-range-picker .picker-apply:hover {
  background: #00626d;
}

.date-range-picker .picker-clear {
  -webkit-box-flex: 0;
  -webkit-flex: 0;
  flex: 0;
  background: #555555;
}

.date-range-picker .picker-clear:hover {
  background: #6d6d6d;
}

.history-filter {
  position: absolute;
  right: 12px;
  height: 16px;
  width: 16px;
  z-index: 6;
}

.history-filter-menu {
  position: absolute;
  padding: 0 6px;
  top: 25px;
  left: 5px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  background: #333;
  border: 1px solid #555;
  z-index: 4;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s ease, padding 0.3s ease, top 0.3s ease;
  transition: height 0.3s ease, padding 0.3s ease, top 0.3s ease;
  width: -webkit-calc(100% - 28px);
  width: calc(100% - 28px);
}

.history-filter-menu.open {
  padding: 6px;
  padding-top: 10px;
  max-height: 160px;
  top: 30px;
}

.history-filter-menu-content {
  max-height: 160px;
  overflow: auto;
}

.history-filter-menu-content label {
  display: block;
  font-size: 13px;
  cursor: pointer;
  margin-bottom: 4px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.history-filter-menu-content label:hover {
  background: #464646;
}

.history-filter-menu-content label > input {
  width: 22px;
  height: 22px;
  color: #00545e;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  outline: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #333;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  cursor: pointer;
}

.history-filter-menu-content label > input::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  -webkit-box-shadow: inset 0 0 0 1px #666;
  box-shadow: inset 0 0 0 1px #666;
}

.history-filter-menu-content label > input:checked {
  background-color: currentcolor;
}

.history-filter-menu-content label > input:checked::before {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

.history-entry:hover .song-link,
#historyToggle:hover,
#historyStatsToggle:hover,
.history-filter:hover,
.redirect-user-parser:hover,
.gear-button:hover {
  opacity: 1;
}

#historyPanel,
#historyStatsPanel {
  display: none;
  margin-top: 8px;
  max-height: 400px;
  padding: 0 5px;
  overflow-y: auto;
}

#historyStatsPanel {
  -webkit-transition: min-height 0.3s ease, top 0.3s ease, margin-bottom 0.3s ease, max-height 0.3s ease;
  transition: min-height 0.3s ease, top 0.3s ease, margin-bottom 0.3s ease, max-height 0.3s ease;
  position: relative;
  max-height: 450px;
  min-height: 120px;
  margin-top: 5px;
  margin-bottom: 0;
  top: 0;
}

#historyStatsPanel.custom {
  top: 110px;
  max-height: 335px;
  margin-bottom: 130px;
}

#dropdownToggle {
  display: none;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding: 8px 10px;
}

#statsFilters {
  display: block;
  position: fixed;
  z-index: 22;
  width: 100%;
  max-width: 323px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #1e1e1e;
  display: none;
}

#historyPanel h3:first-of-type {
  margin-top: 0 !important;
}

.history-entry,
.history-stats-artist-entry,
.history-stats-time {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 6px;
  background-color: #2c2c2c;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  padding: 8px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  width: -webkit-calc(100% - 16px);
  width: calc(100% - 16px);
  word-break: break-word;
  -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.history-stats-artist-entry {
  display: inline-block;
  -webkit-transition: background 0.3s ease, max-height 0.3s ease;
  transition: background 0.3s ease, max-height 0.3s ease;
  cursor: pointer;
  max-height: 20px;
  overflow: hidden;
}

.history-stats-artist-entry.active .stats {
  margin-top: 10px;
  max-height: 217px
}

.history-entry:hover,
.history-stats-artist-entry:hover {
  background-color: #3e3e3e;
}

.history-stats-artist-entry.active .history-entry.artist-songs {
  background-color: #3e3e3e;
}

.history-stats-artist-entry.active:hover .history-entry.artist-songs {
  background-color: #2c2c2c;
}

.history-stats-artist-entry.active .history-entry.artist-songs:hover {
  background-color: #4e4d4d;
}

.history-entry.selected {
  background-color: #4e1b1b;
}

.history-entry img {
  width: 46px;
  height: 46px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-right: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}

body.cleaning-mode .song-link,
.history-checkbox,
.history-trash {
  display: none;
}

body.cleaning-mode .history-trash {
  display: inline-block;
  background: #1e1e1e;
  cursor: pointer;
  margin-right: 10px;
  padding-bottom: 5px;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

body.cleaning-mode .history-trash:hover {
  background: #454545;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

body.cleaning-mode .selected .history-trash {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.7;
}

#historyHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  width: -webkit-calc(100% - 5px);
  width: calc(100% - 5px);
  text-align: end;
}

.history-info {
  font-size: 12px;
}

.history-info strong {
  display: block;
  font-size: 13.5px;
  color: #ddd;
}

.history-info .history-artist {
  font-size: 11.5px;
  color: #c5c5c5;
}

.history-info .history-source {
  font-size: 10.5px;
  color: #999;
}

.setup-dialog {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2c2c2c;
  padding: 20px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  margin: 15px;
  margin-top: 60px;
}

.setup-dialog-content {
  text-align: center;
}

.setup-dialog h2 {
  margin-top: 0;
  color: #e0e0e0;
}
.setup-dialog p {
  color: #ccc;
}
.setup-dialog button {
  background-color: #00545e;
  color: #fff;
  border: none;
  padding: 10px 15px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.setup-dialog button:hover {
  background-color: #004a54;
}

.setup-dialog .setup-link {
  display: inline-block;
  color: #81b7e2;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
}

.setup-dialog .setup-link:hover {
  color: #6fa0b8;
}
.setup-dialog .setup-note {
  font-size: 10px;
  color: #aaa;
  margin-bottom: 30px;
}

.setup-dialog .setup-note-link {
  margin-bottom: 10px;
}

.setup-list-message,
.setup-options-message,
.option-change-message {
  padding: 12px 16px;
  margin: 10px 0;
  background-color: #2a2a2a;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  width: auto;
  color: #dbdee1;
  font-weight: 500;
  text-align: center;
  font-size: 14px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #00545e;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin: 40px auto;
}

.dropdown-toggle {
  padding: 8px 12px;
  border: 1px solid #424242;
  cursor: pointer;
  background: #303030;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: border-color 0.3s ease, -webkit-border-radius 0.6s ease;
  transition: border-color 0.3s ease, -webkit-border-radius 0.6s ease;
  transition: border-radius 0.6s ease, border-color 0.3s ease;
  transition: border-radius 0.6s ease, border-color 0.3s ease, -webkit-border-radius 0.6s ease;
}

.dropdown-toggle:hover {
  border-color: #00545e;
}

.dropdown-toggle.open {
  -webkit-transition: none;
  transition: none;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.dropdown-toggle.open:hover {
  border-color: #424242;
}

.arrow {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.dropdown-menu {
  position: relative;
  left: 0;
  margin: 0;
  padding: 0;
  background: #303030;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
  z-index: 10;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  border: 1px solid #424242;
  border-top: 0;
  border-bottom: 0;
}

.dropdown-menu.open {
  max-height: 325px;
  border-bottom: 1px solid #424242;
}

.dropdown-menu li {
  list-style: none;
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #464646;
  color: #ddd;
}

.date-range-picker {
  margin-top: 5px;
  width: -webkit-calc(100% - 22px);
  width: calc(100% - 22px);
  border: 1px solid #424242;
  padding: 10px;
  background: #303030;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.date-range-picker .picker-input {
  max-width: 134px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
