:host {
  all: initial;
  contain: content;
  position: relative;
  z-index: 2147483647;
  isolation: isolate;
  font-family: "Segoe UI", sans-serif !important;
  font-size: 14px;
  line-height: 1.4;
}

div,
h3,
h4,
label,
input,
a,
br,
span,
img,
div::before,
div::after,
h3::before,
h3::after,
h4::before,
h4::after,
label::before,
label::after,
input::before,
input::after,
a::before,
a::after,
br::before,
br::after,
span::before,
span::after,
img::before,
img::after {
  all: unset;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*CSS-CONFIG*/
/*CSS-GLOBAL*/

.rpc-preview .card,
label,
h3,
h4,
br,
a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rpc-preview .card img {
  -webkit-user-drag: none;
}

#userRpc-selectorRoot {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 360px !important;
  height: auto;
  max-height: 90vh !important;
  -webkit-box-shadow: 0 0 10px var(--shadow-color);
  box-shadow: 0 0 10px var(--shadow-color);
  z-index: 999999;
  font-family: "Segoe UI", sans-serif !important;
  margin: 0;
  background: var(--background-color);
  color: var(--text-color-primary);
  border-radius: var(--radius-default);
  border: 1px solid var(--border-color);
}

#userRpc-selectorRoot .content {
  padding: 16px;
}

#userRpc-selectorChooser-container {
  position: fixed;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-shadow: 0 0 10px var(--shadow-color);
  box-shadow: 0 0 10px var(--shadow-color);
  z-index: 999999;
  max-width: 90%;
  font-family: "Segoe UI", sans-serif !important;
  margin: 0;
  padding: 16px;
  background: var(--background-color);
  color: var(--text-color-primary);
  border-radius: var(--radius-default);
  border: 1px solid var(--border-color);
}

.userRpc-h3 {
  margin: 6px 0 !important;
  text-align: center !important;
  color: var(--text-color-primary) !important;
}

.userRpc-h4 {
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 10px 0;
  text-align: center;
  margin-top: 0;
  font-weight: 400;
  color: var(--text-color-primary) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
label {
  display: block;
}

h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  -webkit-margin-before: 1.33em;
  margin-block-start: 1.33em;
  -webkit-margin-after: 1.33em;
  margin-block-end: 1.33em;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
}

label[id*="buttonText"],
input[id*="buttonText"],
a[id*="buttonText"],
br[id*="buttonText"],
label[id*="buttonLink"],
input[id*="buttonLink"],
a[id*="buttonLink"],
br[id*="buttonLink"] {
  display: none;
}

.userRpc-listItemOptions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  gap: 5px;
}

.addButtonsToggle {
  grid-column: 1 / -1;
}

.userRpc-selectBtn,
.userRpc-optionButtons {
  border-radius: 8px !important;
  background: var(--foreground-color-300);
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  color: var(--text-color-primary);
  text-decoration: none;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
  border: 1px solid var(--border-color);
}

.userRpc-optionButtons {
  padding: 8px;
  margin-bottom: 4px;
}

.userRpc-regexStatus,
.userRpc-selectBtn {
  height: 34px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.userRpc-selectBtn.hidden {
  pointer-events: none;
  visibility: hidden;
}

.field-row {
  display: grid;
  grid-template-columns: 100px 1fr 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.userRpc-select {
  font-size: 14px;
  margin: 5px;
  height: 34px !important;
  padding: 4px !important;
  color: var(--text-color-primary) !important;
  outline: none !important;
  border: 1px solid var(--border-color) !important;
  background: var(--foreground-color-300) !important;
  border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  -webkit-user-select: all !important;
  -moz-user-select: all !important;
  -ms-user-select: all !important;
  user-select: all !important;
}

.userRpc-select:focus-visible {
  outline: 1px solid var(--border-color-bright) !important;
}

.userRpc-selectBtn:hover,
.userRpc-optionButtons:hover {
  background: var(--foreground-color-400) !important;
}

#userRpc-selectorRoot,
#userRpc-selectorChooser-container-list {
  overflow-y: auto;
}

#userRpc-selectorChooser-container-list {
  max-height: 85vh !important;
  gap: 4px;
  display: grid;
}

#userRpc-selectorRoot::-webkit-scrollbar-thumb,
#userRpc-selectorRoot::-webkit-scrollbar,
#userRpc-selectorChooser-container-list::-webkit-scrollbar-thumb,
#userRpc-selectorChooser-container-list::-webkit-scrollbar {
  background: var(--color-background);
  border-radius: 4px;
}

#userRpc-selectorRoot::-webkit-scrollbar-corner,
#userRpc-selectorRoot::-webkit-scrollbar-track,
#userRpc-selectorChooser-container-list::-webkit-scrollbar-corner,
#userRpc-selectorChooser-container-list::-webkit-scrollbar-track {
  background: var(--background-color) !important;
}

#userRpc-selectorRoot::-webkit-scrollbar-thumb,
#userRpc-selectorChooser-container-list::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color) !important;
}

#userRpc-selectorChooser-container-list .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#userRpc-selectorChooser-container-list .selector {
  word-break: break-all;
}

#userRpc-selectorChooser-container-list .score {
  margin-left: 8px;
  font-size: 12px;
}

#userRpc-selectorChooser-container-list .score.green {
  color: var(--green-color);
}

#userRpc-selectorChooser-container-list .score.orange {
  color: var(--yellow-color);
}

#userRpc-selectorChooser-container-list .score.red {
  color: var(--red-color);
}

#userRpc-selectorChooser-button {
  display: block;
  border: 1px solid var(--border-color);
  cursor: pointer;
  width: 100% !important;
  text-align: left;
}

#userRpc-selectorChooser-cancel {
  display: block;
  margin-top: 15px !important;
}

#userRpc-selectorStatus {
  margin-top: 10px;
  color: var(--green-color);
  padding: 12px;
  background: var(--foreground-color-100);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  font-weight: 400;
  white-space: pre-line;
  display: none;
}

#userRpc-selectorStatus ul {
  margin-bottom: 0;
}

#userRpc-selectorStatus.open {
  display: block;
}

#userRpc-selectorStatus.alert {
  color: var(--red-color);
}

.rpc-preview .card {
  background: var(--foreground-color-200);
  border-radius: 8px;
  width: auto;
  color: var(--text-color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 5px var(--shadow-color);
  box-shadow: 0 1px 5px var(--shadow-color);
}

.rpc-preview .header {
  font-size: 12px;
  font-weight: 500;
  color: var(--text-color-secondary);
  padding: 12px 16px 0 16px;
}

.rpc-preview .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 16px 16px 16px;
}

.rpc-preview .imageContainer img {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  overflow: hidden;
}

.rpc-preview .details {
  margin-left: 12px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  word-break: break-word;
}

.rpc-preview .details h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: var(var(--text-color-primary));
}

.rpc-preview .details .artist,
.rpc-preview .details .source {
  font-size: 12px;
  color: var(--text-color-secondary);
}

.rpc-preview .progress-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.rpc-preview .progress-container .time {
  font-size: 11px;
  color: var(--text-color-muted);
}

.rpc-preview .progress-bar {
  position: relative;
  background: var(--foreground-color-400);
  height: 4px;
  border-radius: 2px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.rpc-preview .progress-bar .progress {
  background: var(--text-color-primary);
  height: 100%;
  width: 55.49%;
  border-radius: 2px;
}

.rpc-preview .link-container {
  margin-top: 12px;
}

.rpc-preview .link,
.rpc-preview .custom-button {
  background: var(--foreground-color-400);
  border: none;
  color: var(--text-color-primary);
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  width: auto;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  display: block;
  text-align: center;
  text-decoration: none;
}

.rpc-preview .link:hover,
.rpc-preview .custom-button:hover {
  background: var(--foreground-color-500);
}

.rpc-preview .custom-button {
  margin-top: 5px;
  display: none;
}
