name: Electron Build & Release

on:
  push:
    tags:
      - "*.*.*"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-win:
    name: Build Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22.11.0"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build Windows
        run: npm run build:win

      - name: Upload Windows Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-build
          path: dist/**
          retention-days: 5

  build-linux:
    name: Build Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22.11.0"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build Linux
        run: npm run build:linux

      - name: Upload Linux Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-build
          path: dist/**
          retention-days: 5

  build-mac:
    name: Build macOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22.11.0"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build macOS App
        run: npm run build:mac

      - name: Upload Mac Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: macos-build
          path: dist/**
          retention-days: 5

  create-release:
    name: Create GitHub Release
    needs: [build-win, build-linux, build-mac]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download Windows Artifacts
        uses: actions/download-artifact@v4
        with:
          name: windows-build
          path: ./dist/windows

      - name: Download Linux Artifacts
        uses: actions/download-artifact@v4
        with:
          name: linux-build
          path: ./dist/linux

      - name: Download Mac Artifacts
        uses: actions/download-artifact@v4
        with:
          name: macos-build
          path: ./dist/mac

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22.11.0"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Prepare & Create Release
        run: npm run prepare-release

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            release/**/*
          draft: false
          prerelease: false
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
