name: Prettier

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22.11.0"
          cache: "npm"

      - name: Install deps
        run: npm ci

      - name: Run Prettier
        run: npm run prettier:check
